@model ProyectoPrograAvanzada1.Entities.Usuario
@{
    ViewData["Title"] = "IniciarSesion";
    Layout = "~/Views/Shared/_Layout - Externo.cshtml";
}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<head>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&amp;display=swap" rel="stylesheet" />
    <link href="~/css/EstilosInicioSesion.css" rel="stylesheet" />
</head>
<div>

	@*2*@
	<div class="masthead">

		@*3*@
		<div class="masthead-content text-white">

			@*4*@
			<div class="container-fluid px-4 px-lg-1">
				<h1 class="fst-italic lh-1 mb-4">Tienda Comida Artesana</h1>
				<p class="mb-5"> La mejor página de todas.</p>

				@*5*@
				<div class="card">

					@*6*@
					<div class="card-body">

						@*7*@
						<div class="card-body">
							@if (ViewBag.MsjPantalla != null)
							{
								<script>
									Swal.fire({
										icon: 'error',
										title: '@Html.Raw(ViewBag.MsjPantalla)',
										text: 'Verifique e intente de nuevo'
									});
								</script>
							}
							@using (Html.BeginForm("IniciarSesion", "Home", FormMethod.Post))
							{
							
								<div class="form-outline mb-4">
									@Html.TextBoxFor(m => m.Correo, new { @class = "form-control", @placeholder = "correo@gmail.com", @type = "Email", @required = "true" })
								</div>
								<div class="form-outline mb-4">
									@Html.TextBoxFor(m => m.Contrasenna, new { @class = "form-control", @placeholder = "********", @type = "Password", @required = "true" })
								</div>
								<div class="text-center">
									<button type="submit" class="btn btn-primary btn-block mb-4">
										Iniciar Sesion
									</button>
								</div>
								<div style="text-align:center; margin-top:2%">
									<a href="@Url.Action("RecuperarContrasenna","Home")" class="text-center">¿Olvidaste tu contraseña?</a>
								</div>
								<div style="text-align:center; margin-top:2%">
									<a href="@Url.Action("RegistrarUsuario","Home")" class="text-center">¿No tienes una cuenta?</a>
								</div>
							}
						</div>
					</div>
				</div>
				<br />
				<br />
				<br />
			</div>
		</div>
	</div>


</div>


<script src="~/newfolder/js/scripts.js"></script>
